<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/dbquery-style.css" type="text/css">
<title>Penguins - Host Query</title>
<body class="dbquery-body">
  <form method="POST">
    <div class="menu">
    <div class="menu-screen dbquery-menu-bg">
    <div class="dbquery-app-title">
      <h1>Host Query</h1>
    </div>
    <div class="control-group">
      <textarea name="Host List" rows="20" cols="50" placeholder="Enter FQDN"></textarea>
      <br>
      <input type="submit" value="Submit" class="floated_left_btn btn btn-dbq-alt1" name="submit_button">
    </div>
    <div class="control-group text_center">
      <input type="submit" value="Back" class="floated_left_btn-query btn btn-dbq-back" name="submit_button">
      <input type="submit" value="Log Out" class="floated_right_btn-query btn btn-dbq-logout" name="submit_button">
    </div>
    </div>
    </div>
  </form>
</body>
