<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/cmdb-style.css" type="text/css">
<link rel="stylesheet" href="/static/style/table-fixed-header-style.css" type="text/css">
<title>CMDB Current</title>
<body class="cmdb-body">
  <form method="POST">
    <div class="menu-screen-table">
    <div class="cmdb-app-title">
      <h1>CMDB:</h1>
    </div>
    <p>Date: <b>{{ date_today }}</b>:<br></p>
    <p> Count of managed hosts for BU/s: <b>{{ buNames }}</b>:</p>
    <p><b>{{ hostCount }}</b></p>
    <div class="menu-form">
      <div class="control-group">
        <div class="tableFixHead">
          <table class="center">
            <thead>
              <tr>
                <th> Hostname </th>
                <th> BU </th>
                <th> Cost Centre </th>
                <th> Company Code </th>
                <th> Server Role </th>
                <th> Server type </th>
                <th> Architecure </th>
                <th> OS </th>
                <th> OS Version </th>
                <th> IP Address </th>
                <th> Managed </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              {% for key in cmdbEntries.keys() %}
                <tr>
                  <td>{{ key }}</td>
                  {% for values in cmdbEntries[key] %}
                  	<td> {{ values }} </td>
                  {% endfor %}
                </tr>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="control-group">
        <input type="submit" value="Back" class="floated_left_btn btn btn-dbq-back" name="submit_button">
        <input type="submit" value="Log Out" class="floated_right_btn btn btn-dbq-logout" name="submit_button">
      </div>
    </div>
    </div>
    </div>
  </form>
</body>
