<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/decomm-style.css" type="text/css">
<link rel="stylesheet" href="/static/style/main-menu-style.css" type="text/css">
<title>Penguins - Decomm Menu</title>
<body class="decomm-body">
  <form method="POST">
    <!-- <div class="decomm_menu"> -->
    <div class="menu-screen">
    <div class="decomm-app-title">
      <h1>Decommission Menu</h1>
    </div>
    <div>
    <div class="control-group">
      <div class = {{ setAdminVisibility }}>
        <div class="control-group-small">
          <input type="submit" value="Decomm Server/s" class="btn btn-decomm-alt1" name="submit_button">
        </div>
      </div>

      <div class = {{ setDecommdbVisibility }}>
        <div class="control-group-small">
          <input type="submit" value="Query Decomm DB" class="btn btn-decomm-db" name="submit_button">
        </div>
      </div>

    </div>
    <div class="control-group">
      <input type="submit" value="Back" class="floated_left_btn btn btn-decomm-back" name="submit_button">
      <input type="submit" value="Log Out" class="floated_right_btn btn btn-decomm-logout" name="submit_button">
    </div>
    </div>
    </div>
    <!-- </div> -->
  </form>
</body>
