<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/pc-style.css" type="text/css">
<title>Current Patch Compliance</title>
<body class="pc-body">
  <div class="pc_background_stats">
  <form method="POST">
      <div class="pc_title">
      <h1>Linux Patch Statistics:</h1>
    	<h3> Breakdown by category: </h3>
      </div>
    	{% for sfact in statList %}
    	<h3> {{ sfact }} </h3>
       <div class="pc_table_background_stats">
        <table>
        <tr>
        {% for value in virtualItems[sfact] %}
          {% for k,v in value.items() %}
          <th> {{ k }} </th>
          <th> {{ v }} </th> 
          {% endfor %}
        </tr>
        {% endfor %}
        </table>
        </div>
        {% endfor %}
    <br>
    <div class="pc_control-group">
      <input type="submit" value="Back" class="floated_left_btn btn btn-dbq-back" name="submit_button">
      <input type="submit" value="Log Out" class="floated_right_btn btn btn-dbq-logout" name="submit_button">
    </div>
  </div>
  </form>
</body>
