<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/style/pc-style.css" />
    <title>Linux Patch Compliance</title>
  </head>
  <form method="POST">
      <div class="menu-screen-table">
        <div>
          <input type="submit" name="submit_button"" value="Show Current" class="main-submit-buttons" ></input><br>
          <input type="submit" name="submit_button"" value="Statistics" class="main-submit-buttons""></input><br>
          <input type="submit" name="submit_button"" value="Search" class="main-submit-buttons" ></input><br>
          <input type="submit" name="submit_button"" value="Generate Patch Page" class="main-submit-buttons"></input><br>
          <input type="submit" name="submit_button"" value="Download latest report" class="main-submit-buttons"></input>
        </div>
        <div class="control-group">
          <input type="submit" value="Back" class="btn_back" name="submit_button">
          <input type="submit" value="Log Out" class="btn_logout" name="submit_button">
        </div>
      </div>
    </main>
    <script src="script.js"></script>
  </body>
  </form>
</html>
