<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/ldap-style.css" type="text/css">
<title>LDAP - Unix Groups</title>
<body class="ldap-body">
  <form method="POST">
    <div class="ldap_menu">
    <div class="menu-screen ldap-menu-bg">
    <div class="app-title">
      <h1>LDAP - Unix Groups</h1>
    </div>
    <div class="menu-form">
    <div class="control-group">
      <input type="text" class="login-field" value="" placeholder="username" name="username">
      <label class="login-field-icon fui-user" for="login-name"></label>
    </div>
    <div class="control-group">
      <input type="submit" value="Search" class="btn btn-ldap-alt1" name="submit_button">
    </div>
    <div class="control-group">
      <input type="submit" value="All Unix Accounts" class="btn btn-ldap-alt2" name="submit_button">
    </div>
    <div class="control-group">
      <input type="submit" value="Back" class="floated_left_btn btn btn-ldap-back" name="submit_button">
      <input type="submit" value="Log Out" class="floated_right_btn btn btn-ldap-logout" name="submit_button">
    </div>
    <div class="control-group">
      {% for message in get_flashed_messages() %}
      <div class="flash">
        <font color="red">{{ message }}</font>
      </div>
      {% endfor %}
    </div>
    </div>
    </div>
    </div>
  </form>

<!-- form for displaying all OR specific unix groups  -->
  <form method="POST" class = {{ setVisibility }}>
    <div class="ldap_unix-group_menu">
    <div class="menu-screen ldap-menu-bg">
      <div class="text_results_heading">
        <h3>{{ resultHeading }}
          <span class = {{ setVisibility }} style="text-decoration: underline; font-weight: bold; font-size: 18px; margin-top: -4px;">
            {{ foundUser }}
          </span>
        </h3>
      </div>
    <div class="menu-form">
      <div class="control-group-contents text_results">
        <div class="text_left floated_left_text-unix_group">
          <section>
            <h4 class="text_center">Unix Groups</h4>
            <span style="font-weight: bold; vertical-align: top;">
              <ul class="nobull">
                {% for item in listValues %}
                  <li> {{ item }} </li>
                {% endfor %}
              </ul>
            </span>
          </section>
        </div>
        <div class="text_left floated_right_text-unix_group">
          <section>
            <h4 class="text_center">Distinguished Name</h4>
            <span style="vertical-align: top;">
              <ul class="nobull">
                {% for item in listDN %}
                  <li> {{ item }} </li>
                {% endfor %}
              </ul>
            </span>
          </section>
        </div>
      </div>
    </div>
    </div>
    </div>
  </form>
</body>
