<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/links-style.css" type="text/css">
<title>Penguins - Help</title>
<body class="help-body">
  <form method="POST">
    <div class="help_menu">
    <div class="menu-screen help-menu-bg">
    <div class="help-app-title">
      <h1>Useful Links</h1>
    </div>

    <div class="menu-form">
      <div class="control-group-contents">
        <div class="text_left floated_left_text-help control-group-contents">
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Day-to-Day:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Service Desk</a> </li>
              <li> <a href="http://not_today/">Service Now</a> </li>
              <li> <a href="http://not_today/">gitlab</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Support Stuff:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Support Roster</a> </li>
              <li> <a href="http://not_today/">Scheduled Work</a> </li>
              <li> <a href="http://not_today/">In Place Upgrades Schedule</a> </li>
              <li> <a href="http://not_today/">Callout Page</a> </li>
              <li> <a href="http://not_today/">India Roaming Number</a> </li>
              <li> <a href="http://not_today/">RMB APP Team contacts</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Office Stuff:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Outlook 365</a> </li>
              <li> <a href="http://not_today/">Office Online</a> </li>
              <li> <a href="http://not_today/">Microsoft Teams</a> </li>
              <li> <a href="http://not_today/">MS Exchange Self-Service</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Monitoring:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Munin - Puppet monitoring</a> </li>
              <li> <a href="http://not_today/">Puppet Run Stats</a> </li>
              <li> <a href="http://not_today/">Linux Metrics (Munin / Kibana)</a> </li>
              <li> <a href="http://not_today/">Grafana</a> </li>
              <li> <a href="http://not_today/">Nagios / check-mk - PROD</a> </li>
              <li> <a href="http://not_today/">Nagios / check-mk - NON-PROD</a> </li>
              <li> <a href="http://not_today/">Nagios / check-mk - PCI</a> </li>
              <li> <a href="http://not_today/">Science Logic</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Other:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">SNOM Phone pin change</a> </li>
              <li> <a href="http://not_today/">Hogan Share Point</a> </li>
              <li> <a href="http://not_today/">Cobbler</a> </li>
              <li> <a href="http://not_today/">Account Lockout Report</a> </li>
            </ul>
          </div>
        </div>

        <div class="text_left floated_right_text-help control-group-contents">
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Server Infrastructure:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Vsphere VC links</a> </li>
              <li> <a href="http://not_today/">RedHat Satellite</a> </li>
              <li> <a href="http://not_today/">I&SS Network Station</a> </li>
              <li> <a href="http://not_today/">ECS CCIT OOB IPs</a> </li>
              <li> <a href="http://not_today/">Ansible Playbooks</a> </li>
              <li> <a href="http://not_today/">Bash Scripts</a> </li>
              <li> <a href="http://not_today/">VM locator</a> </li>
              <li> <a href="http://not_today/">Chef Automate - DEV</a> </li>
              <li> <a href="http://not_today/">Chef Server - DEV</a> </li>
              <li> <a href="http://not_today/">Chef Server - PROD</a> </li>
              <li> <a href="http://not_today/">VM Location</a> </li>
              <li> <a href="http://not_today/">VM Locations DR</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">How To's:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">Server Decomm Procedure</a> </li>
              <li> <a href="http://not_today/">Migrate server auth to AD</a> </li>
              <li> <a href="http://not_today/">Implement Great Wall</a> </li>
              <li> <a href="http://not_today/">Fix check-mk empty output error</a> </li>
              <li> <a href="http://not_today/">Fix NRPE proc</a> </li>
              <li> <a href="http://not_today/">Privileged Access Management (PAM)</a> </li>
              <li> <a href="http://not_today/">In-place upgrade (6 -> 7) procedure</a> </li>
              <li> <a href="http://not_today/">Connecting to PCI vsphere</a> </li>
              <li> <a href="http://not_today/">Satellite Subscription Guide</a> </li>
              <li> <a href="http://not_today/">Add disk to zLinux</a> </li>
              <li> <a href="http://not_today/">Managing CPU on zLinux</a> </li>
              <li> <a href="http://not_today/">RHEL Rescue</a> </li>
              <li> <a href="http://not_today/">Chef - bootstrap</a> </li>
              <li> <a href="http://not_today/">Yum - remove duplicate packages</a> </li>
              <li> <a href="http://not_today/">on-board hosts to IDM</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">Access Stuff:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">AD Self-Service</a> </li>
              <li> <a href="http://not_today/">IAG Access Management</a> </li>
              <li> <a href="http://not_today/">Identity Management (IDM)</a> </li>
              <li> <a href="http://not_today/">Greatwall</a> </li>
              <li> <a href="http://not_today/">Venafi</a> </li>
            </ul>
          </div>
          <div class="control-group-contents-help">
            <h4 class="help-sub-title">HR Stuff:</h4>
            <ul class ="help-list-elements">
              <li> <a href="http://not_today/">HR Mobi</a> </li>
              <li> <a href="http://not_today/">Staff Files</a> </li>
              <li> <a href="http://not_today/">FRGS eForms</a> </li>
              <li> <a href="http://not_today/">Udemy</a> </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="control-group">
        <input type="submit" value="Back" class="floated_left_btn btn btn-help-back" name="submit_button">
        <input type="submit" value="Log Out" class="floated_right_btn btn btn-help-logout" name="submit_button">
      </div>
      <div class="control-group">
        {% for message in get_flashed_messages() %}
        <div class="flash">
          <font color="red">{{ message }}</font>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>
    </div>
  </form>
</body>
