<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/style/graphs-style.css" type="text/css">
<title>Penguins - Graphs Menu</title>
<body>
  <form method="POST">
    <div class="menu-screen">
    <h2>Graphs Menu</h2>
    <div class="menu-form">
    <div class="control-group">
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Config Managers" class="btn btn-graphs-alt1" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="OS Version Stats" class="btn btn-graphs-alt2" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Agent Versions Installed" class="btn btn-graphs-alt1" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Agents Health Check" class="btn btn-graphs-alt2" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="BU Footprint Stats" class="btn btn-graphs-alt1" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Environment Footprint Stats" class="btn btn-graphs-alt2" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Server Type Stats" class="btn btn-graphs-alt1" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Greatwall Stats" class="btn btn-graphs-alt2" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="AD Auth Stats" class="btn btn-graphs-alt1" name="submit_button">
        </div>
      </div>
      <div class="control-group">
        <div class="control-group-small">
          <input type="submit" value="Decomm Stats" class="btn btn-graphs-alt2" name="submit_button">
        </div>
      </div>
    </div>
    <div class="control-group">
      <input type="submit" value="Back" class="floated_left_btn btn btn-back" name="submit_button">
      <input type="submit" value="Log Out" class="floated_right_btn btn btn-logout" name="submit_button">
    </div>
    </div>
    </div>
  </form>
</body>
